* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box
}


body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
}


/* Header */
.site-header {
	max-width: 100%;
	display: flex;
	color: #0c0d0e;
	align-items: center;
	border-top: 3px solid orange;
	border-bottom: 1px solid #DCDCDC;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	font-size: 12px;
	color: #636B74;


}


.site-header>div {
	text-decoration: none;

	bottom: 8px;
	padding: 5px 1px;
	margin: 4px 1px;
}

.site-header>img {

	margin-left: 50px;
	margin-right: 12px;
}


.btn-nav {
	border: none;
	padding: 0px 10px;
	magin: 0px 10px;
	color: #636B74;
}


.header-search {
	padding: 6px 10px;
}

.site-header input {
	width: 700px;
	height: 32.2px;
	padding: 7.8px 9.2px 7.8px 37px;
	background-color: white;
	border: 1px solid hsl(210, 9%, 75%);
	background: url("C:/Users/Gosal/Desktop/Stack OverFlow/img/search.png") center left no-repeat;
	border-radius: 4px;
}

.btn-login {
	color: #1b75d0;
	padding: 8px 10.4px;
	margin-left: 5px;
	border-radius: 5px;
	border: 1px solid #1b75d0;
}

.btn-signup {
	color: #ffffff;
	background-color: #1b75d0;
	padding: 8px 10.4px;
	border-radius: 5px;
	border: 1px solid #1b75d0;
}

.site-header button:hover {
	cursor: pointer;

}


/* whole container */


.full-container {
	display: flex;
}

.sub-heading {
	font-size: 20px;
	font-weight: 400;
	margin: 8px;
}


/* side-bar */


.side-bar {
	height: 85vh;
	width: 160px;
	position: sticky;
	top: 60px;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 20px 10px 20px 10px;
	margin: 0px 20px 35px;
	display: inline-block;
	border-right: 1px solid hsl(210, 8%, 80%);

}

.side-bar ul li {
	padding: 10px;
	text-decoration: none;
	list-style-type: none;
}

.sidebar-item {
	padding: 8px;
}

.side-element {
	color: #3b4045;
	padding-left: 10px;
	font-size: 13px;

}


.collectives {
	font-size: 11px;
	margin-left: 10px;
}

.sidebar-bold {
	font-size: 11px;
	font-weight: bold;
	color: black;
}

.side-btn1,
.side-btn2 {
	width: 130px;
	height: 28px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;

}

.side-btn1 {
	background-color: #e7700d;
	color: white;
	border-color: #e7700d;
}

.side-btn2 {
	background-color: white;
	color: 3b4045;
	border-color: white;
}


/*

 Main Content */


main {
	padding: 30px 10px;
}

.profile-container {
	display: flex;
}

.profile-img-btns {
	display: inline;
}

.profile-details {
	margin-left: 20px;
	display: flex;
	margin-top: 15px;
}

.profile-name-details img {
	opacity: 1;
}

.profile-name-details {
	font-size: 30px;
}

.profile-btn {
	margin-top: 10px;
	padding: 6px 12px;
	background-color: #E7700D;
	border-radius: 20px;
	color: white;
	border: 1px solid #E7700D;

}

.profile-name {
	font-size: 30px;
}

.profile-links {
	color: #777;
	font-size: 14px;
}

.profile-links img {
	height: 16px;
	width: 16px;
	position: relative;
	border-radius: 0;
	top: 4px;
	opacity: 0.5;
	margin: 0px 2px;
}

.profile-profiles-btn {
	margin-left: 500px;
	background: none;
	border-radius: 5px;
	color: #444;
	font-size: 12px;
	padding: 10px;
}

.btn-profiles {
	height: 37px;
	width: 75px;
	background: none;
	border: 1px solid #999;
	border-radius: 5px;
	color: #444;
	font-size: 12px;
}

.activity-btn {
	margin-top: 10px;
	padding: 6px 12px;
	background-color: white;
	border-radius: 20px;

	border: 3px solid white;

}

.profile-details h2 {
	margin: 10px;
	font-weight: normal;
	font-size: 35px;
}


profile-img {
	border-radius: 75%;
}

/* full Container */


.container {
	display: flex;
}

.left-column {
	margin-right: auto;
	width: 39vh;
}

.right-column {
	margin-left: auto;
	width: 120vh;
}

/* Stats-container */


.stats-container {

	width: 100%;
	margin: 20px 10px;
	display: flex;
	padding: 4px 25px 6px 4px;
	border: 1px solid #D6D9DC;
	border-radius: 5px
}

.stats-container ul {
	list-style: none;
	color: #0C0D0E;
}

.stats-left {
	margin-right: 20px;
	padding: 10px;
}

.stats-right {
	padding: 10px;
}

.stats-container span {
	color: #777;
}

.trophy>ul>li>a {
	color: #777
}

.trophy>ul>li>a>span {
	color: #777;
	font-weight: bold;
}

.answers {
	margin-top: 10px;
}

.trophy {
	margin-top: 15px;
}

.questions {
	margin-top: 10px;
}


/* Collectives Section  */
.collectives-section {
	margin-top: 20px;
}

.collectives-container {
	width: 110%;
	display: flex;
	flex-direction: column;
	border-radius: 5px padding: 20px;
	margin-left: -5px;
	border: 1px solid #D6D9DC;
	border-radius: 5px font-size:14px;
}


.icon-container {
	display: flex;
	align-items: center;
	padding: 8px 15px 20px;
}

.icon-container img {
	width: 50px;
	margin-right: 10px;
}

.icon-container .icon-des {
	font-size: 14px;
}


/* Communities Section  */


.communities-container {


	width: 110%;
	font-size: 12px;
	color: #666;
	padding-inline-start: 10px;
	list-style: none;
	border: 1px solid #D6D9DC;
	border-radius: 5px;
	padding: 10px;
	padding-right: 15px;
}

.communities img {
	width: 20px;
	height: 20px;
}

.communities a,
.communities div {
	position: relative;
	top: 3px;
}

.communities li {
	margin-bottom: 10px;
}

.communities a {
	width: fit-content;
	height: 20px;
}

.right-align {
	margin-left: auto;
}


/* About Section  */
.about-section {}

.about-list {
	margin-left: 40px;
}

.link-text-blue {
	color: rgb(27, 117, 208);
	text-decoration: none;
}

.about ul a {
	color: rgb(27, 117, 208);
	text-decoration: underline;
}

.about ul {
	color: #444;
	font-size: 16x;
	line-height: 180%
}

.bold-font {
	font-weight: bold;
}

.light-border {

	border: 1px solid #ccc;
	border-radius: 5px
}

/* Badges Section  */


.badge-container {
	display: flex;
	justify-content: space-between;
}

.badges-heading {
	margin-left: 10px;
	margin-top: 85px;
}

.badges {
	border: 1px solid #D6D9DC;
	margin: 0px 10px;
	width: 100%;
	border-radius: 5px
}

.badge-image img {
	height: 40px;
	width: 40px;
	margin: 10px;
}

.badge-image {
	display: flex;
}

.badge-text {
	position: relative;
	top: 10px;
}

.badge-text b {
	font-size: 20px;
}

.badge-text div {
	font-size: 12px;
}

.badge-list button {
	border: 1px solid #D6D9DC;
	border-radius: 3px;
	padding: 2px 4px 6px 4px;
	font-size: 11px;
	color: #444;
	background-color: #f6f6f6;
}

.badge-list div {
	position: relative;
	top: 3px;
	font-size: 11px;
	color: #444;
	margin-left: auto;
}

.badge-list {
	display: flex;
	margin: 8px 10px;
}

.m-left-10 {
	margin-left: 10px;
}


/* Top Tags Section  */


.top-tags-container,
top-posts-container,
top-meta-container,
top-network-container {
	border: 1px solid #D6D9DC;
	border-radius: 5px;
}


.top-contents {
	padding: 14px;
	border-bottom: 1px solid #E0E0E0;
	display: flex;
	font-size: 14px;
}

.top-contents img,
.last-content img {
	width: 18px;
	height: 18px;
	position: relative;
	top: 2px;
}

.last-content {
	padding: 14px;
	display: flex;
	font-size: 14px;
}

.text-light {
	color: #888;
	font-size: 13px;
}

.green-box {
	padding: 3px;
	color: #fff;
	background-color: rgb(24 134 75);
	border-radius: 4px;
	margin: 0px 10px;
}

.white-box {
	padding: 3px;
	border-radius: 4px;
	margin: 0px 10px;
	border: 1px solid #ccc;
	color: #666;
}

.bold-box {
	padding: 4px 10px;
	border-radius: 4px;
	margin: 0px 10px;
	background-color: #f3f3f3;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.text-large {
	font-size: 17px;
}

.gold-dot {
	color: #FFD700;
	font-size: 15px;
}

.silver-dot {
	color: #C0C0C0;
	font-size: 15px;
}

.bronze-dot {
	color: #CD7F32;
	font-size: 15px;
}

.display-flex {
	display: flex;
}


/* Footer  */
.site-footer-container {
	background-color: #111;
	padding: 32px 12px 12px;
	margin: 0 auto;
	color: #ccc;
	display: flex;
	justify-content: space-around;
	font-size: 13px;

}

.site-footer-heading {
	font-weight: bold;
	padding-bottom: 15px
}

.site-footer-nav {
	display: flex;
	justify-content: space-between;

}

.site-footer-nav>div {
	margin: 10px;
	padding: 0px 40px 40px 0px;

}

.site-footer-nav ul {
	list-style: none;
	padding: 0;
}

.site-footer-nav ul li {
	margin-bottom: 10px;
}


.site-footer-copyright-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 20%;
	height: 280px;
}

.site-footer-links {
	display: flex;
	justify-content: space-between;
}

.site-footer-links a {
	color: #ccc;
	text-decoration: none;
	margin-right: 15px;
	font-size: 14px;
}


.site-footer-copyright {

	font-size: 12px;
	color: #999;

}


*/